extends layout

block styles

block scripts

block content



  .container.error
    .row
      .col-md-6
        h1 ¡Ups! Algo salio mal.
        br
        p El link que intentas visitar no existe, regresa al 
          a(href="/") 
            strong home
      .col-md-6.text-left
        img(src="/images/404.svg", alt="")











