extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/cursos.css")
block scripts

block content


  .container.segment.animated.fadeIn
    .title Cursos
    br
    br
    .row
      a(href="curso1").col-md-4.hvr-float
        .one-segment
          .top.curso1
            .tag 
              .lett curso
            .sq
          .bottom.text-center
            strong  Introducción a Big Data
            br
            br
            strong.time 1 Semana | 20 horas
      a(href="curso2").col-md-4.hvr-float
        .one-segment
          .top.curso2
            .tag 
              .lett curso
            .sq
          .bottom.text-center
            strong Big Data Engineer
            br
            br
            strong.time 1 Semana | 20 horas
      a(href="curso3").col-md-4.hvr-float
        .one-segment
          .top.curso3
            .tag 
              .lett curso
            .sq
          .bottom.text-center
            strong Introducción a Ciencia de Datos con Python
            br
            br
            strong.time 1 Semana | 20 horas












