extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h4 Data Visualization
                    .time-temp.blue ~7 Semanas ( 40 hrs )
                p.text-temp Aprendrás a visualizar la información basada en datos, mejores practicas y como realizar un telling story hacía tus clientes mediante tecnologías de Python y Javascript.
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue  Proximamente
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.gray M
                            span.blue M
                            span.gray J
                            span.gray V
                            span.gray S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Haber cursado   #[a(href="/data-analyst") Data Analyst] y #[a(href="/data-models") Data Models]


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify Laptop con al menos 2GB de RAM. <br> · Conocimiento avanzado de Python y matplotlib.

            .col-md-4.example(style="background-image: url(../images/curso3.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','3');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/bokeh-svg.svg", alt="")
    img(src="/images/tech/d3.png", alt="")
    img(src="/images/tech/seaborn.svg.svg", alt="")
    img(src="/images/tech/matplotlib.svg", alt="")

  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Introducción al diseño visual de la información cuantitativa
        hr
        .theme-min Diseño de tablas y gráficas
        hr
        .theme-min Visualización de datos con Python
        hr
        .theme-min Visualización de datos con D3.js
        hr
        .theme-min Diseño de Dashboards
        hr
        .theme-min Dashboards interactivos
        hr
        .theme-min Automatización de reportes con Python
        hr
        .theme-min Storytelling
