extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h4 Introducción a ciencia de datos
                    .time-temp.blue 6 Semanas ( 38 hrs )
                p.text-temp prenderás los fundamentos de la programación en Python, así como una introducción al workflow completo de un científico de datos utilizando librerías como Pandas, Numpy y Matplotlib
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue  22 de Julio
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.gray M
                            span.blue J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Manejo básico de una computadora <br> · (Deseable) Conocimiento básico de CSV o TXT <br>· (Deseable) Conocimiento de algún lenguaje de programación <br>


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify Laptop con al menos 2GB de RAM. <br> · Tener muchas ganas de conocer los secretos que guardan los datos.

            .col-md-4.example(style="background-image: url(../images/curso3.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','3');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/phyton.svg", alt="")
    img(src="/images/tech/jupitor.svg", alt="")
    img(src="/images/tech/pandas.png", alt="")
    img(src="/images/tech/numpy.png", alt="")

  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Introducción Ciencia de Datos
        hr
        .theme-min Introducción a Python
        hr
        .theme-min Fundamentos de Python
        hr
        .theme-min Introducción a fuentes y análisis exploratorio
        hr
        .theme-min Limpieza de Datos y Manejo de Missing Values
        hr
        .theme-min Data Wrangling con Pandas
        hr
        .theme-min Introducción al análisis de datos
        hr
        .theme-min Introducción  a la visualización de datos con Matplotlib
