extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Introducción a Big Data
                    .time-temp.blue 3 Semanas ( 38 hrs)
                .techno-temp.d-flex.justify-content-around
                    a(href="/pdfs/Big_Data.pdf") Temario
                        img(src="/images/pdf-icon.png", alt="")
                p.text-temp Aprenderás a crear proyectos con grandes cantidades de datos, cómo tu información estará soportada por increíbles tecnologías y las tendencias de la industria que necesita cada vez más de profesionales con estos conocimientos y habilidades.
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue !!! 28 de Agosto 2017 !!!
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.gray M
                            span.blue J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Conocimiento básico de linux <br> · Conocimiento básico de archivos<br>· Conocimiento básico con SQL <br> · (Deseable) Conocimiento en algún lenguaje de programación


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 4GB de RAM. <br> ·Tener muchas ganas de aprender el flujo de datos de Facebook, Google y muchas empresas más.

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/hadoop.svg", alt="")
    img(src="/images/tech/sql.svg", alt="")
    img(src="/images/tech/swarm.png", alt="")
    img(src="/images/tech/spark.svg", alt="")
    img(src="/images/tech/nosql.png", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Introducción a Big Data
        hr
        .theme-min ¿Cómo funciona el ecosistema Hadoop?
        hr
        .theme-min manipulación y consulta de grandes volúmenes de datos
        hr
        .theme-min Introducción a tecnologias para procesamiento distribuido de datos
        hr
        .theme-min Big Data Analytics
