extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Data Solution Architect
                    .time-temp.blue ~7 Semanas ( 40 hrs)
                p.text-temp Aprenderás a crear proyectos con grandes cantidades de datos, cómo tu información estará soportada por increíbles tecnologías y las tendencias de la industria que necesita cada vez más de profesionales con estos conocimientos y habilidades.
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue 28 de Agosto
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.gray L
                            span.gray M
                            span.gray M
                            span.gray J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Haber cursado
                        a(href="/bigdata-engineer")
                        <br>· Conocimiento avanzado de SQL <br>


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 4GB de RAM. <br>

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/hadoop.svg", alt="")
    img(src="/images/tech/spark.svg", alt="")
    img(src="/images/tech/MongoDB-Logo,svg.png", alt="")
    img(src="/images/tech/esnewlogo.png", alt="")
    img(src="/images/tech/2000px-Cassandra_logo.svg", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Tunning Avanzado en HDFS
        hr
        .theme-min Tunning Avanzado Hive / Impala
        hr
        .theme-min Tunning avanzado Spark
        hr
        .theme-min Archivos y compresión
        hr
        .theme-min SQL vs NoSQL
        hr
        .theme-min MongoDb
        hr
        .theme-min ElasticSearch
        hr
        .theme-min Cassandra
        hr
        .theme-min Proyectos de migración a Big Data
