extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/cursos.css")
block scripts

block content


  .container.segment.animated.fadeIn
    .title Cursos
    br
    br
    .row
      a(href="introduccion-bigdata").col-md-4.hvr-float
        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong  Introducción a Big Data
            br
            br

            strong.time 8 Semana | 40 horas | Mayo
      a(href="bigdata-engineer").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Engineer
            br
            br

            strong.time 8 Semana | 40 horas | Mayo
      a(href="introduccion-ciencia-de-datos").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Introducción a Ciencia de Datos
            br
            br
            strong.time 8 Semanas | 40 horas | Mayo
