extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Big Data Engineer
                    .time-temp.blue 7 Semanas ( 35 hrs )
                p.text-temp Aprenderás a obtener, estructurar y analizar la información de manera ordenada y eficiente para entender qué es lo que dicen los datos. Te enseñaremos técnicas de visualización y storytelling para comunicar y convencer a otros de tu diagnóstico y podrás proponer acciones basadas en datos que agreguen valor a tu organización o proyecto.
                .row.dates-temp
                    .col-6.text-center 
                        small Fecha de Inicio
                        h3.blue 15 de Enero
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.gray M
                            span.blue J
                            span.gray V
                            span.gray S
                            span.gray D
                .row.niceto
                    .col-6 
                        .title-temp Skills
                        br
                        p.gray.text-justify · Fuentes de Información <br> · Manipulación de Información no estructurada (i.e, PDFs, redes sociales, texto)<br>· Creación y Manejo de Bases de Datos <br> · Querys con SQL


                    .col-6 
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify Laptop con al menos 2GB de RAM y una versión de excel 2007 o superior. Deseables: Experiencia básica manejando Excel, sistema operativo Windows (por la versión de Excel, aunque si tienes Mac o Linux no hay problema)
 
            .col-md-4.example(style="background-image: url(../images/curso2.png)")
                .share.text-right
                    small Compartir:
                    a(href="")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong $5,550.00mxn
                .btn-path
                    .btn.btn-success(onclick="formIn('','','2');") Inscribirme
                    br
                    .text-center 
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderas:
  .techno-temp.d-flex.justify-content-around 
    img(src="/images/tech/flume.svg", alt="")
    img(src="/images/tech/db.svg", alt="")
    img(src="/images/tech/gephi.svg", alt="")
    img(src="/images/tech/oozie.svg", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d 
        h3 Temas
        hr
        .theme-min Tema 1
        hr
        .theme-min Tema 1
        hr
        .theme-min Tema 1
        hr
        .theme-min Tema 1
        hr
        .theme-min Tema 1
        hr
        .theme-min Tema 1
        hr
        .theme-min Tema 1
        hr
        .theme-min Tema 1










