extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h4 Data Analyst
                    .time-temp.blue ~7 Semanas ( 40 hrs )
                p.text-temp Aprenderás a conocer los diferentes tipos de fuente de datos, como lidiar con bases de datos e información estructurada asi como con APIs
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue  28 de Agosto (Tentativamente)
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.gray M
                            span.gray M
                            span.gray J
                            span.gray V
                            span.gray S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Haber cursado Introducción a Ciencia de datos <br>
                          a(href="introduccion-ciencia-de-datos")


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify Laptop con al menos 2GB de RAM. <br> · Conocimiento básico de Python, NumPy y Pandas.

            .col-md-4.example(style="background-image: url(../images/curso3.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','3');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/phyton.svg", alt="")
    img(src="/images/tech/jupitor.svg", alt="")
    img(src="/images/tech/sql.svg", alt="")
    img(src="/images/tech/excel.png", alt="")

  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Herramientas para el análisis de datos
        hr
        .theme-min Diseño de Base de datos
        hr
        .theme-min Introducción a SQL
        hr
        .theme-min Formatos avanzados de datos
        hr
        .theme-min APIs y Scrapping Web
        hr
        .theme-min Introducción a procesamiento natural de lenguaje
        hr
        .theme-min Análisis de datos por periodos de tiempo
        hr
        .theme-min Tablas dinámicas con SQL y Pandas
