extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/cursos.css")
block scripts

block content


  .container.segment.animated.fadeIn
    .title Cursos
    br
    br
    .row
      a(href="introduccion-bigdata").col-md-4.hvr-float
        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong  Introducción a Big Data
            br
            br

            strong.time 8 Semanas | 40 horas | Agosto
      a(href="bigdata-engineer").col-md-4.hvr-float

        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Engineer
            br
            br

            strong.time 8 Semanas | 40 horas | Agosto
      a(href="data-solution-architect").col-md-4.hvr-float

        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Solution Architect
            br
            br

            strong.time 8 Semanas | 40 horas | Septiembre
    .row
      a(href="introduccion-ciencia-de-datos").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Introducción a Ciencia de Datos
            br
            br
            strong.time 8 Semanas | 40 horas | Agosto



      a(href="data-analyst").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Analyst
            br
            br
            strong.time 8 Semanas | 40 horas | Agosto
            
      a(href="data-models").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Models
            br
            br
            strong.time 8 Semanas | 40 horas | Octubre
      
      a(href="data-visualization").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Visualization
            br
            br
            strong.time 8 Semanas | 40 horas | Noviembre
