extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Big Data Engineer
                    .time-temp.blue 8 Semanas ( 40 hrs )
                p.text-temp Este curso se enfoca en profesionales que buscan aplicar los conocimientos de big data en la industria, procesos reales en ambientes analiticos y como mitigar las necesidades de arquitectura e infraestructura del manejo de grandes datos, siempre con la mira en entregar productos de calidad.
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue 6 de Mayo
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.gray L
                            span.gray M
                            span.gray M
                            span.gray J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Conocimiento básico de linux <br> · Conocimiento de Hadoop<br>· Conocimiento de infraestructura Big Data <br> · (Deseable) Introducción a big data
                        a(href="/curso1")
                          Curso Introducción a big data

                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 4GB de RAM. <br> ·Estar listo para cambiar la forma en la que procesan los datos en México.

            .col-md-4.example(style="background-image: url(../images/curso2.png)")
                .share.text-right
                    small Compartir:
                    a(href="")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong $5,550.00mxn
                .btn-path
                    .btn.btn-success(onclick="formIn('','','2');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderas:
  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/flume.svg", alt="")
    img(src="/images/tech/db.svg", alt="")
    img(src="/images/tech/gephi.svg", alt="")
    img(src="/images/tech/oozie.svg", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Big Data 2.0
        hr
        .theme-min Administración de un sistema basado den Hadoop
        hr
        .theme-min Kafka y el procesamiento en tiempo real
        hr
        .theme-min SQL avanzado
        hr
        .theme-min Scala
        hr
        .theme-min Spark SQL
        hr
        .theme-min Spark Streaming
        hr
        .theme-min De Oracle/MySQL/SqlServer a plataforma analitica Hadoop
