extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Introducción a Big Data
                    .time-temp.blue 8 Semanas ( 40 hrs )
                p.text-temp Aprenderás a crear proyectos con grandes cantidades de datos, como estos estan soportados por increibles tecnologias y como la industria esta en la necesidad de profesionales con estos conocimientos y habilidades.
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue 6 de Mayo
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.gray M
                            span.blue J
                            span.gray V
                            span.gray S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Conocimiento básico de linux <br> · Conocimiento básico de CSV o TXT<br>· Conocimiento básico con SQL <br> · (Deseable) Conocimiento en algún lenguaje de programación


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 4GB de RAM. <br> ·Tener muchas ganas de aprender el flujo de datos de Facebook, Google y muchas empresas más.

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong $9,999.00mxn
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderas:
  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/flume.svg", alt="")
    img(src="/images/tech/db.svg", alt="")
    img(src="/images/tech/gephi.svg", alt="")
    img(src="/images/tech/oozie.svg", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Arquitectura Big Data
        hr
        .theme-min Arquitectura Lambda
        hr
        .theme-min Hadoop como el corazón de la arquitectura Big Data
        hr
        .theme-min HDFS y el sistema distribuido
        hr
        .theme-min Map Reduce y el sistema YARN
        hr
        .theme-min SQL y no SQL más juntos que nunca
        hr
        .theme-min Sqoop y la migración de datos
        hr
        .theme-min Impala para el análisis de datos
        hr
        .theme-min Spark para un procesamiento 100 veces más rápido
        hr
        .theme-min Introducción a Machine Learning
