extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/index.css")
block scripts

block content
  .jumbotron.main-contain.animated.fadeIn
    .container.text-center.punchline
        .col-md-12
          .col-md-10.offset-md-1
            h1.white Desarrollamos talento, detonamos crecimiento
            p Green Shark está enfocada en agregar valor a partir de la ciencia de datos y las mejores tecnologías. Desarrollamos talento y detonamos crecimiento para nuestros clientes. Mejor información y mejores decisiones para que comiences a construir tu futuro ahora.
        .col-md-12
        .col-md-6.offset-md-3
          .input-group.input-group-lg.form_style.index-form
            input#head-index-form.form-control(type='text', placeholder='E-mail')
            span.input-group-btn
              button.btn.btn-secondary(type='button') Quiero más info
  .container.text-center
      a(href="#")
        i.fa.fa-chevron-down(aria-hidden='true')
  .container.paths-index
    .title PATHS
    .row
      .col-md-4.item-path-mini
        a(href="path1").hvr-float
          .content-path-head
            .text-center.path-1
              img(src="/images/big.svg", alt="")
            .title-path Big Data
          .content2-path-head Serás capaz de proponer y elegir tecnologías para montar una arquitectura de Big Data para tu organización o proyecto.
          .time-path-mini.text-center 160 horas (9-12 meses)
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="path2").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/data.svg", alt="")
            .title-path Data Science
          .content2-path-head Diseñarás soluciones a problemas diversos siempre agregando valor a tu negocio o proyecto a partir de entender y analizar el fenómeno con datos.
          .time-path-mini.text-center 160 horas (9-12 meses)
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        .content-path-head
          .text-center.path-3
            img(src="/images/social.svg", alt="")
          .title-path Data Analysis for Social Sciences

        .content2-path-head  <br> No requieres conocimientos de computación o matemáticas avanzadas para entender el cambio, donde los datos es el oro que se puede explotar.
        .time-path-mini.text-center 80 horas (2-5 meses)
        .btn-path-mini.text-center Saber más
      .text-center
        br
        small
          //
            a(href="cursos") Explorar los cursos
  include tecno.pug


  .container.intro1.intr
    .row
      .col-md-6
        img(src="/images/intro1.svg", alt="")
      .col-md-6.text-justify
        h4 Romper la brecha de género
        br
        p En el mundo, del total de desarrolladores las mujeres son sólo el 7.6% vs 88% de hombres. Esta brecha es todavía más grande en la ciencia de datos donde el ratio es de 1 mujer por cada 14 hombres. Creemos que estas diferencias no se deben a falta de talento ni entusiasmo por la tecnología, sino a una marcada desigualdad de oportunidades. En GreenShark queremos apoyar a todas las mujeres que quieran romper esta brecha.
  .container.intro1.intr
    .row
      .col-md-6.only-mobile.text-center
        img(src="/images/intro2.svg", alt="")
      .col-md-6.text-justify
        h4 Impulsar  la excelencia
        br
        p Estamos conscientes del increible crecimiento de los productos basados en datos, decisiones de negocio, de producto, mejoras y aprovechamiento de recursos se estan dando en cualquier empresa, por lo que pensamos siempre en dar apoyos a los mejores.
      .col-md-6.no-mobile
        img(src="/images/intro2.svg", alt="")
  .container.intro1.intr
    .row
      .col-md-6
        img(src="/images/intro3.svg", alt="")
      .col-md-6.text-justify
        h4 Datos orientados al negocio
        br
        p Imagina la cantidad de datos que se generan solamente de tus actiidades diarias, como levantarte, tomar un baño, desayunar y salir a tus actividades, ¿Cuánta información se puede obtener de todo esto? y sobre todo ¿Cuales son las mejoras que podrías hacer a tu vida si pudieras manejar esos datos?, en Greenshark te mostramos como mejorar los productos y servicios basados en datos.
  .container.intro1.intr
    .row
      .col-md-6.only-mobile.text-center
        img(src="/images/intro4.svg", alt="")
      .col-md-6.text-justify
        h4 Emprendimiento
        br
        p ¿Tienes una idea de negocio basado en Datos?, ¿Quieres ampliar tus oportunidades laborales? ¿Te gustaría ser parte de la revolución de la inteligencia aritifical? Inscribite a Greenshark y comienza a ser parte del futuro.
      .col-md-6.no-mobile
        img(src="/images/intro4.svg", alt="")
