doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='https://use.fontawesome.com/4a33440094.css')
    link(rel='stylesheet', href='/vendor/hover.css')
    link(rel='stylesheet', href='/vendor/animate.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    block styles
  body
    include form.pug


    nav.navbar.navbar-toggleable-md.navbar-light
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon.animated.fadeInDown
      a.navbar-brand(href='/').animated.fadeInDown
        .nav-logo
            img(src="/images/logo.png", alt="")

      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.pull-xs-right
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='nosotros') Nosotros
          li.nav-item.only-mobile
            a.nav-link(href='cursos') Cursos
          li.nav-item.only-mobile
            a.nav-link(href='paths') Paths
          li.nav-item.dropdown
            a#dropdown03.no-mobile.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Cursos
            .dropdown-menu
                a.dropdown-item(href='introduccion-bigdata')  Introducción a Big Data
                a.dropdown-item(href='bigdata-engineer') Big Data Engineer
                a.dropdown-item(href='introduccion-ciencia-de-datos') Introducción a Ciencia de Datos

                a.dropdown-item.all-kind(href='cursos') Todos los cursos
          li.nav-item.dropdown
            a#dropdown04.no-mobile.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Path
            .dropdown-menu
                a.dropdown-item(href='path1') Big Data
                a.dropdown-item(href='path2') Data Science
                //
                  a.dropdown-item(href='path3') Data Analysis for Social Sciences
                a.dropdown-item.all-kind(href='paths') Todos los paths

          li.nav-item
            a.nav-link(href='contacto') Contacto
          li.nav-item.main-register
            a.nav-link.direct(href='#') Inscríbete




    block content
    .jumbotron.text-center.register-now
      p
        strong Regístrate ahora y se parte de algo increíble
      br
      .col-md-6.offset-md-3.puchline
          small.message-foot.red
          .input-group.input-group-lg.form_style
            input#footer-form.form-control(type='text', placeholder='E-mail')

            span.input-group-btn
              button.btn.btn-secondary(type="submit") Quiero mas info
          br
          a.small(href="cursos")

            strong Explorar cursos
    #map
    .final_foot
      .container
        .row.foot-row
          .col-md-3
              ul
                strong Paths
                li
                  a(href="path1")
                    small  Big Data
                li
                  a(href="path2")
                    small Data Science
                //-
                  li
                  a(href="#")
                  small Introducción a Ciencia de Datos con Python
          .col-md-3
              ul
                strong Cursos
                li
                  a(href="introduccion-bigdata")
                    small Introducción a Big Data
                li
                  a(href="bigdata-engineer")
                    small Big Data Engineer
                li
                  a(href="introduccion-ciencia-de-datos")
                    small Data Science
          .col-md-6.section3-foot
            small
              a(href="mailto:hola@greenshark.com") hola@greenshark.com
            br
            small
              a(href="tel:55-23-12-23") 55-23-12-23
              span |
              a(href="tel:(55)-32-23-12") (55)-32-23-12
            br
            small Lopez Cotilla #1822 ICol. Del Valle, Delegación Benito Juarez CDMX, México 03100.
        .text-center.social-icon
          a(href="#")
            img(src="/images/face.svg", alt="")
          a(href="#")
            img(src="/images/tweet.svg", alt="")
          a(href="#")
            img(src="/images/you.svg", alt="")
        .shark.text-center
          img(src="/images/shark.png", alt="")



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="https://www.google.com/recaptcha/api.js")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(src="/vendor/janimate.js")
    script(src="/javascripts/main.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5AI39fyZxyKYCeDIqDgY3_07flG4yXXA&callback=initMap"
    async defer)


    block scripts
