extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/nosotros.css")
block scripts

block content
  .container.main-contain-slash.animated.fadeIn
    .title NOSOTROS
    br
    br
    .col-12
        .profile.row
            .col-md-4.photo.jp
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="#")
                        img.hvr-float(src="/images/lkin.svg", alt="")    
                h3 Nombre
                strong.position Position
                p Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que qu
        .profile.row
            .col-md-4.photo.jp
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="#")
                        img.hvr-float(src="/images/lkin.svg", alt="") 
                h3 Nombre
                strong.position Position
                p Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que qu
        .profile.row
            .col-md-4.photo.jp
                .sq
            .col-md-8.description 
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="#")
                        img.hvr-float(src="/images/lkin.svg", alt="") 
                h3 Nombre
                strong.position Position
                p Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que qu
    .row.we-say
        .col-md-6.offset-md-1.pic-we-1
            .pic-we-per
        .col-md-4.contain-we-1 Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.Creemos que las instituciones sin fines de lucro no
    .row.we-say
        .col-md-4.offset-md-1.contain-we-2 Creemos que las instituciones sin fines de lucro nos ayudan a vivir en un mejor país. Por eso apoyamos a instituciones sin fines de lucro que quieran aprender a utilizar los datos de manera benéficas para la sociedad.Creemos que las instituciones sin fines de lucro no
        .col-md-6.pic-we-1
            .pic-we-per 

