extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/nosotros.css")
block scripts

block content
  .container.main-contain-slash.animated.fadeIn
    .title NOSOTROS
    br
    br
    .col-12
        .profile.row
            .col-md-4.photoje
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/jorge-alberto-martinez-escandon-a3b0a258/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Jorge A. Escandón
                strong.position
                p Jorge tiene 6 de experiencia en la industria del software, de cualquier plataforma, desde cualquier diseño siempre pensando en los datos, su dominio, su gobierno, su trazabilidad y la explotación que se le pueden hacer a los mismos, Ingeniero en Sistemas computacionales y de Desarrollo de Software ha entregado proyectos desde México hasta España.
        .profile.row
            .col-md-4.photojp
                .sq
            .col-md-8.description
                .social-profile
                    a(href="https://twitter.com/JPDeBotton")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/juanpablodebotton/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Juan Pablo de Botton
                strong.position
                p Economista por el Centro de Investigación y Docencia Económicas (CIDE) Juan Pablo ha sido analista de datos para diferentes industrias entre las que se encuentran el sector financiero, el sector público y el sector de tecnología. Su pasión por encontrar patrones y agregar valor a las decisiones de negocio lo ha impulsado a desarrollar su expertise en las tecnologías de ciencia de datos.
        .profile.row
            .col-md-4.photolo
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/lucia-osorno-vallejo-14192ab2/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Lucía Osorno
                strong.position
                p Lucía se ha desempeñado durante mas de 10 años en la industria del software, experta en Java y en tecnologia JVM y que vio en las tecnologias BIg Data un gran reto y una excelente oportunidad para crear nuevos productos agregando el valor de negocio necesario para que estos, sean exitosos.
    
