extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/index.css")
block scripts

block content

  br
  br
  br
  br
  br
  br

  .container.paths-index
    .title PATHS
    .row
      .col-md-4.item-path-mini
        a(href="path1").hvr-float
          .content-path-head 
            .text-center.path-1
              img(src="/images/big.svg", alt="")
            .title-path Big Data
          .content2-path-head Serás capaz de proponer y elegir tecnologías para montar una arquitectura de Big Data para tu organización o proyecto.
          .time-path-mini.text-center 160 horas (9-12 meses)
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small 
              a(href="#") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="path2").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/data.svg", alt="")
            .title-path Data Science
          .content2-path-head Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.  
          .time-path-mini.text-center 160 horas (9-12 meses)
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small 
              a(href="#") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="path3").hvr-float
          .content-path-head
            .text-center.path-3
              img(src="/images/social.svg", alt="")
            .title-path Data Analysis for Social Sciences
          .content2-path-head Aprenderás a obtener, estructurar y analizar la información de manera ordenada y eficiente para entender qué es lo que dicen. 
          .time-path-mini.text-center 160 horas (9-12 meses)
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small 
              a(href="#") Explorar los cursos











