extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/path_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title PATH
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Big Data
                    .time-temp.blue 24 Semanas ( 40 hrs cada curso )
                p.text-temp Aprenderás a obtener, estructurar y analizar la información de manera ordenada y eficiente para entender qué es lo que dicen los datos. <br> · Te enseñaremos técnicas de visualización y storytelling para comunicar y convencer a otros de tu diagnóstico y podrás proponer acciones basadas en datos que agreguen valor a tu organización o proyecto.
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue 15 de Enero
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.gray L
                            span.gray M
                            span.gray M
                            span.gray J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Fuentes de Información <br> · Manipulación de Información no estructurada (i.e, PDFs, redes sociales, texto)<br>· Creación y Manejo de Bases de Datos <br> · Querys con SQL


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify Laptop con al menos 2GB de RAM y una versión de excel 2007 o superior. Deseables: Experiencia básica manejando Excel, sistema operativo Windows (por la versión de Excel, aunque si tienes Mac o Linux no hay problema)
                    .col-12
                      .text-center
                        small Recibirás una constancia con valor curricular al finalizar este curso

            .col-md-4.example
                .share.text-right
                    small.white Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Path:
                    h3
                        strong.green Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                img(src="/images/big.svg", alt="")
                .btn-path
                    .btn.btn-success(onclick="formIn('','1','');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
    .time-table-temp
        .row
            .col-md-2.d-flex.align-items-center
                h4.blue Cursos del path
            .col-md-10.contain-time
                .row.item-theme-temp.hvr-float
                    .col-1.d-flex.align-items-center
                        i.fa.fa-chevron-right(aria-hidden='true')
                    .element-temp
                        .row
                            .pic-theme-temp.curso1
                            .descript-theme-tem
                                .row
                                    .info
                                        strong Introducción a Big Data
                                        br
                                        small.gray Hadoop, Hive, Sqoop, Spark
                                    .time.d-flex.align-items-center
                                        |8 Semanas (40 hrs)
                .row.item-theme-temp.hvr-float
                    .col-1.d-flex.align-items-center
                        i.fa.fa-chevron-right(aria-hidden='true')
                    .element-temp
                        .row
                            .pic-theme-temp.curso1
                            .descript-theme-tem
                                .row
                                    .info
                                        strong Data Engineer
                                        br
                                        small.gray Jupyter, Spark, Kafka, Scala
                                    .time.d-flex.align-items-center
                                        |8 Semanas (40 hrs)
                .row.item-theme-temp.hvr-float
                    .col-1.d-flex.align-items-center
                        i.fa.fa-chevron-right(aria-hidden='true')
                    .element-temp
                        .row
                            .pic-theme-temp.curso1
                            .descript-theme-tem
                                .row
                                    .info
                                        strong Big Data Specialist
                                        br
                                        small.gray Modelos, Graphx, MongoDB, Cassandra
                                    .time.d-flex.align-items-center
                                        |8 Semanas (40 hrs)
        .row
            .col-md-2
            .col-md-10
                h2.gray Fin
  .paths-index-cont
      .container.paths-index
        .title Más Paths
        .row
          .col-md-4.item-path-mini
            a(href="path1").hvr-float
              .content-path-head
                .text-center.path-1
                  img(src="/images/big.svg", alt="")
                .title-path Big Data
              .content2-path-head Serás capaz de proponer y elegir tecnologías para montar una arquitectura de Big Data para tu organización o proyecto.
              .time-path-mini.text-center 240 horas (9-12 meses)
              .btn-path-mini.text-center Saber más
            .text-center
              br
              small
                  a(href="cursos") Explorar los cursos
          .col-md-4.item-path-mini
            a(href="path2").hvr-float
              .content-path-head
                .text-center.path-2
                  img(src="/images/data.svg", alt="")
                .title-path Data Science
              .content2-path-head Diseñarás soluciones a problemas diversos siempre agregando valor a tu negocio o proyecto a partir de entender y analizar el fenómeno con datos.
              .time-path-mini.text-center 240 horas (9-12 meses)
              .btn-path-mini.text-center Saber más
            .text-center
              br
              small
                  a(href="cursos") Explorar los cursos
          .col-md-4.item-path-mini
            a(href="path3").hvr-float
              .content-path-head
                .text-center.path-3
                  img(src="/images/social.svg", alt="")
                .title-path Data Analysis for Social Sciences
              .content2-path-head Aprenderás a obtener, estructurar y analizar tu información de manera ordenada y eficiente para entender y comunicar el valor y los mensajes en tus datos.
              .time-path-mini.text-center 120 horas (9-12 meses)
              .btn-path-mini.text-center Saber más
            .text-center
              br
              small
                  a(href="cursos") Explorar los cursos
