extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/nosotros.css")
block scripts

block content
  .container.main-contain-slash.animated.fadeIn
    .title Team Data Science
    br
    br
    .col-12
        .profile.row
            .col-md-4.photojp
                .sq
            .col-md-8.description
                .social-profile
                    a(href="https://twitter.com/JPDeBotton")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/juanpablodebotton/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Juan Pablo de Botton
                strong.position
                p Economista por el Centro de Investigación y Docencia Económicas (CIDE) Juan Pablo ha sido analista de datos para diferentes industrias entre las que se encuentran el sector financiero, el sector público y el sector de tecnología. Su pasión por encontrar patrones y agregar valor a las decisiones de negocio lo ha impulsado a desarrollar su expertise en las tecnologías de ciencia de datos.
        .profile.row
            .col-md-4.photojr
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/carlos-jared-romero-reyes-72b34591/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Jared Romero
                strong.position
                p Economista y maestro en Ciencia de Datos por el ITAM, trabajó en Secretaría de Economía utilizando modelos matemáticos para medir el impacto económico de le regulación. Posteriormente trabajó en diferentes consultoras como científico de datos ayudando a diferentes empresas a aprovechar el potencial de su información, desde cadenas de retail hasta financieras. Actualmente se encuentra trabajando en uno de los bancos más importantes de México.
