extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/nosotros.css")
block scripts

block content
  .container.main-contain-slash.animated.fadeIn
    .title Team Big Data
    br
    br
    .col-12
        .profile.row
            .col-md-4.photoje
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/jorge-alberto-martinez-escandon-a3b0a258/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Jorge A. Escandón
                strong.position
                p Jorge tiene 6 años de experiencia en la industria del software, de cualquier plataforma, desde cualquier diseño siempre pensando en los datos, su dominio, su gobierno, su trazabilidad y la explotación que se le pueden hacer a los mismos, Ingeniero en Sistemas computacionales y de Desarrollo de Software ha entregado proyectos desde México hasta España.
        .profile.row
            .col-md-4.photosn
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/salvador-nivardy-tovar-rocha-725a7133/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Salvador Nivardy Tovar Rocha
                strong.position
                p Salvador cuenta con 7 años de experiencia en la industria del software, contribuyendo en distintos proyectos principalmente con tecnologías JAVA y orientadas a la JVM. Ingeniero en Sistemas computacionales apasionado del constante aprendizaje y las nuevas tecnologías, ha encontrado en BIG DATA una nueva área de oportunidad para el desarrollo de nuevos servicios y ofertas que ayuden a las empresas a encontrar un valor agregado a los datos que día a día se producen.
                p Actualmente se encarga de la administración del entorno de Businessobjects Objects y Middleware para el área DATA WAREHOUSE de una empresa orientada al servicio de tv satelital y otros productos video e internet.
