.jumbotron.techno-index.noselect
      .title Tecnologías
      .row.no-mobile
        .col-md-1.text-center.no-mobile.back
          i.fa.fa-chevron-left(aria-hidden='true')
        .s1.col-md-10.hidden.flume
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/flume.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s2.col-md-10.hidden.qoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/qoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s3.col-md-10.hidden.jupitor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/jupitor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s4.col-md-10.hidden.oozie
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/oozie.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s5.col-md-10.hidden.couch
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/couch.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s6.col-md-10.hidden.db
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/db.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s7.col-md-10.hidden.hadoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/hadoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s8.col-md-10.hidden.kafka
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/kafka.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s9.col-md-10.hidden.cassandra
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/cassandra.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s10.col-md-10.hidden.phyton
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/phyton.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s11.col-md-10.hidden.mongo
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/mongo.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s12.col-md-10.hidden.gephi
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/gephi.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s13.col-md-10.hidden.sql
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/sql.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s14.col-md-10.hidden.spark
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/spark.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .s15.col-md-10.hidden.tableu
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tableu.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.  
        .s16.col-md-10.hidden.tensor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tensor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.   
        .s17.col-md-10.hidden.the-hive
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/the-hive.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.  
        .col-md-1.text-center.no-mobile.go
          i.fa.fa-chevron-right(aria-hidden='true')
      .tech-options.fix
        img.hvr-float.flume(src="/images/tech/flume.svg", alt="",slider="1")
        img.hvr-float.qoop(src="/images/tech/qoop.svg", alt="",slider="2")
        img.hvr-float.jupitor(src="/images/tech/jupitor.svg", alt="",slider="3")
        img.hvr-float.oozie(src="/images/tech/oozie.svg", alt="",slider="4")
        img.hvr-float.couch(src="/images/tech/couch.svg", alt="",slider="5")
        img.hvr-float.db(src="/images/tech/db.svg", alt="",slider="6")
        img.hvr-float.hadoop(src="/images/tech/hadoop.svg", alt="",slider="7")
        img.hvr-float.kafka(src="/images/tech/kafka.svg", alt="",slider="8")   
        img.hvr-float.cassandra(src="/images/tech/cassandra.svg", alt="",slider="9")
        img.hvr-float.phyton(src="/images/tech/phyton.svg", alt="",slider="10")
        img.hvr-float.mongo(src="/images/tech/mongo.svg", alt="",slider="11")
        img.hvr-float.gephi(src="/images/tech/gephi.svg", alt="",slider="12")
        img.hvr-float.sql(src="/images/tech/sql.svg", alt="",slider="13")
        img.hvr-float.spark(src="/images/tech/spark.svg", alt="",slider="14")
        img.hvr-float.tableu(src="/images/tech/tableu.svg", alt="",slider="15")
        img.hvr-float.tensor(src="/images/tech/tensor.svg", alt="",slider="16")
        img.hvr-float.the-hive(src="/images/tech/the-hive.svg", alt="",slider="17")