.jumbotron.techno-index.noselect
      .title Tecnologías
      .row.no-mobile
        .col-md-1.text-center.no-mobile.back
          i.fa.fa-chevron-left(aria-hidden='true')
        .s1.col-md-10.hidden.flume
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/flume.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Las tecnologias de tiempo real como chats, gráficas, información de eventos entre otras actividades estan acargo de Flume, te ayudará a tener una versatilidad y flexibilidad de tus datos.
        .s2.col-md-10.hidden.qoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/qoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Es complicado descargar 1 TB de información para luego administrarla ¿no?, mediante Sqoop podrás transferir información de una base de datos relacional hacía el ecosistema hadoop de una manera muy sencilla.
        .s3.col-md-10.hidden.jupitor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/jupitor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle  Es momento de tener un ambiente de desarrollo listo y completamente eficiente, sin cargar entornos de usuario muy pesados (Netbeans) u otros que planean algún día ser ágiles (Eclipse). Con jupyter podrás correr programas, documentar linea por linea con imágenes y markdown y sobre todo correr gráficos sin ninguna configuración extra.
        .s4.col-md-10.hidden.oozie
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/oozie.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle En la noche se tienen que hacer actividades de altas bajas, guardar los datos o borrarlos, no es tan fácil hacerlo cuando los datos son arriba de los 500GB, con Oozie podrás hacerlo de una manera muy sencilla.
        .s6.col-md-10.hidden.db
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/db.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones basados en datos estructurados, siempre con nuestro fiel amigo SQL que junto con su poderosa sintaxis, nos permite manejar datos en diferentes tecnologias sin tener que tener una curva extra de aprendizaje.
        .s7.col-md-10.hidden.hadoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/hadoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Hadoop es el corazón de las infraestructuras Big Data. Este framework potencia tu habilidad para manejar los datos, encargándose de distribuir tus archivos y procesarlos en varias computadoras de manera simultánea.
        .s8.col-md-10.hidden.kafka
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/kafka.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle No esta vez no hablamos del escritor si no de una tecnologia que esta revolucionando la ingesta de datos en tiempo real de Linkedin y Facebook. Te permitira mantener una comunicación con todas tus aplicaciones hacía tu infraestructura hadoop en tiempo real.
        .s9.col-md-10.hidden.cassandra
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/cassandra.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle La base de datos inventada en Facebook y en donde descansan todas tus publicaciones, imágenes y contenido publicitario. Sin duda la base de datos del futuro.  Ingenieros de Facebook inventaron Cassandra para poder manejar y analizar la gran cantidad de datos generados por su red social. Su distribución es gratuita, lo que permite reducir costos a las empresas y es una de las bases de datos más potentes (y más utilizadas) que existen actualmente.
        .s10.col-md-10.hidden.phyton
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/phyton.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Lenguaje de programación muy popular, soportado por una amplia comunidad de desarrolladores a través de todo el mundo y además de eso, excelente herramienta para desarrollar ciencia de datos con gran velocidad.
        .s11.col-md-10.hidden.mongo
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/mongo.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle  La base de datos que fijo las miradas de las grandes empresas por su velocidad y por su distribución de información. Fácil de manejar con una estructura sencilla y sin preocuparse con el lenguaje SQL.
        .s12.col-md-10.hidden.gephi
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/gephi.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Crearás impresionantes grafos basados en diferentes tipos de datos, podrás mostrar tu trabajo final a las personas mas importantes del negocio de una forma clara y completa.
        .s13.col-md-10.hidden.sql
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/sql.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle SQL no te diré que es el lenguaje estructurado de consulta por que ya es más que eso, es el lenguaje de generación, analizis, exploración y recuperación de datos mas importante actualmente
        .s14.col-md-10.hidden.spark
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/spark.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Es un motor de procesamiento de datos, muy muy rápido y totalmente flexible, el cual te permitirá consturir aplicaciones en tiempo real, analitica sobre gran catidades de datos como inteligencia articial y todo esto con muy pocas lineas de programación.
        .s15.col-md-10.hidden.tableu
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tableu.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle no de las herramientas de Business Inteligence más importantes actualmente, conocerla y saberla usar es una parte esencial del desarrollo de productos Big Data / Ciencia de datos
        .s16.col-md-10.hidden.tensor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tensor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle TensorFlow: Las redes neuronales artificiales al alcance de todos, con un conjunto de herramientas de fácil manejo y con un gran poder, la desarrollo Google y es increible.
        .s17.col-md-10.hidden.the-hive
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/the-hive.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle  Es una base de datos sumamente poderosa. Trabaja como si fuera una base relacional, pero puede manejar archivos distribuidos en varias computadoras lo que te permite procesar un volumen de datos nunca antes pensadas a tan sólo una sentencia SQL de distancia.
        .col-md-1.text-center.no-mobile.go
          i.fa.fa-chevron-right(aria-hidden='true')
      .tech-options.fix
        img.hvr-float.flume(src="/images/tech/flume.svg", alt="",slider="1")
        img.hvr-float.qoop(src="/images/tech/qoop.svg", alt="",slider="2")
        img.hvr-float.jupitor(src="/images/tech/jupitor.svg", alt="",slider="3")
        img.hvr-float.oozie(src="/images/tech/oozie.svg", alt="",slider="4")
        img.hvr-float.db(src="/images/tech/db.svg", alt="",slider="6")
        img.hvr-float.hadoop(src="/images/tech/hadoop.svg", alt="",slider="7")
        img.hvr-float.kafka(src="/images/tech/kafka.svg", alt="",slider="8")
        img.hvr-float.cassandra(src="/images/tech/cassandra.svg", alt="",slider="9")
        img.hvr-float.phyton(src="/images/tech/phyton.svg", alt="",slider="10")
        img.hvr-float.mongo(src="/images/tech/mongo.svg", alt="",slider="11")
        img.hvr-float.gephi(src="/images/tech/gephi.svg", alt="",slider="12")
        img.hvr-float.sql(src="/images/tech/sql.svg", alt="",slider="13")
        img.hvr-float.spark(src="/images/tech/spark.svg", alt="",slider="14")
        img.hvr-float.tableu(src="/images/tech/tableu.svg", alt="",slider="15")
        img.hvr-float.tensor(src="/images/tech/tensor.svg", alt="",slider="16")
        img.hvr-float.the-hive(src="/images/tech/the-hive.svg", alt="",slider="17")
