.jumbotron.techno-index.noselect
  .container
      .title Tecnologías
      .row.no-mobile
        .col-md-1.text-center.no-mobile.back
          i.fa.fa-chevron-left(aria-hidden='true')
        .s1.col-md-10.hidden.flume
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/flume.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Las tecnologías en tiempo real tales como chats, gráficas, información de eventos, entre otras están a cargo de Flume, te ayudará a obtener versatilidad y flexibilidad en tus datos.
        .s2.col-md-10.hidden.qoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/qoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Las herramientas de ETL estan temblando gracias SQOOP, aprende a extraer información estructurada de Oracle, Sql Server DB2 o cualquier otro Vendor.
        .s3.col-md-10.hidden.jupitor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/jupitor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Jupyter es una herramienta que te permite correr programas de una forma sencilla y multi-lenguaje basado en el paradigma "Orientado a la documentación", excelente para proyectos de ciencia de datos.
        .s4.col-md-10.hidden.oozie
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/oozie.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Oozie te permite programar tus tareas nocturnas mediante tecnologias Hadoop, ¿Esto que significa? Que puedes enviar millones de registros de una tabla a otra sin tener que esperar toda la noche, solo unos cuantos minutos.
        .s6.col-md-10.hidden.db
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/db.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Las bases de datos SQL no han pasado de moda, se requieren para muchos procesos, en México ocupa el 92% de tipo de bases de datos en las empresas, sin duda debes aprender a manejar este tipo de base de datos.
        .s7.col-md-10.hidden.hadoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/hadoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle el sistema Big Data por excelencia, es el corazón de tus datos y como se gestiona y se almacenan, desarrollado por Yahoo y Google es altamente necesario en cualquier sistema de grandes datos.
        .s8.col-md-10.hidden.kafka
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/kafka.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle El desarrollo de sistemas en tiempo real basados en tecnologias como Kafka, es lo que usamos cuando vemos un nuevo post en facebook, un mensaje en whatsapp y la actualización de tu correo electrónico, sin duda una herramienta trascendental en estos tiempos.
        .s9.col-md-10.hidden.cassandra
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/cassandra.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Facebook la creo y esta diseñada para soportar cualquier tipo de modelo de datos asi como esquemas, es altamente funcional y se puede escalar de una manera muy sencilla.
        .s10.col-md-10.hidden.phyton
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/phyton.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle El lenguaje de programación con mayor demanda actualmente, se encuentra en dispositivos moviles, en aplicaciones web, desarrollos de escritorio, sobre bases de datos y ahora es el lenguaje número #1 en el manejo de grandes datos y de ciencia de datos.
        .s11.col-md-10.hidden.mongo
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/mongo.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle La principal base de datos no orientada a un modelo relacional, sin tantas restricciones y un esquema flexible para que puedan entrar cualquier tipo de datos de cualquier aplicación y de cualquier origen.
        .s12.col-md-10.hidden.gephi
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/gephi.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle La presentación de datos es altamente importante, ya que son las personas que toman las necesidades de negocio, a las que tienes que comuniarles tus ideas y nuevas oportunidades.
        .s13.col-md-10.hidden.sql
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/sql.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle SQL no te diré que es el lenguaje estructurado de consulta por que ya es más que eso, es el lenguaje de generación, análisis, exploración y recuperación de datos mas importante actualmente.
        .s14.col-md-10.hidden.spark
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/spark.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Spark es la herramienta que permite la manipulaciíon de información en un tiempo basyante reducido, utiliza lo mejor de hadoop para el almacenamiento de datos, pero tiene un nuevo modelo de translado de datos.
        .s15.col-md-10.hidden.tableu
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tableu.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle De las herramientas de Business Inteligence más importantes actualmente, conocerla y saberla usar es una parte esencial del desarrollo de productos Big Data / Ciencia de datos
        .s16.col-md-10.hidden.tensor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tensor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle TensorFlow: Las redes neuronales artificiales al alcance de todos. Con un conjunto de herramientas de fácil manejo y con un gran poder, la desarrollo Google y es increible.
        .s17.col-md-10.hidden.the-hive
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/the-hive.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Hive es una base de datos SQL que el motor que mueve y transforma los datos es Hadoop, por lo que una consulta de millones de registros será algo del día a día.
        .col-md-1.text-center.no-mobile.go
          i.fa.fa-chevron-right(aria-hidden='true')
      .tech-options.fix
        img.hvr-float.flume(src="/images/tech/flume.svg", alt="",slider="1")
        img.hvr-float.qoop(src="/images/tech/qoop.svg", alt="",slider="2")
        img.hvr-float.jupitor(src="/images/tech/jupitor.svg", alt="",slider="3")
        img.hvr-float.oozie(src="/images/tech/oozie.svg", alt="",slider="4")
        img.hvr-float.couch(src="/images/tech/couch.svg", alt="",slider="5")
        img.hvr-float.db(src="/images/tech/db.svg", alt="",slider="6")
        img.hvr-float.hadoop(src="/images/tech/hadoop.svg", alt="",slider="7")
        img.hvr-float.kafka(src="/images/tech/kafka.svg", alt="",slider="8")
        img.hvr-float.cassandra(src="/images/tech/cassandra.svg", alt="",slider="9")
        img.hvr-float.phyton(src="/images/tech/phyton.svg", alt="",slider="10")
        img.hvr-float.mongo(src="/images/tech/mongo.svg", alt="",slider="11")
        img.hvr-float.gephi(src="/images/tech/gephi.svg", alt="",slider="12")
        img.hvr-float.sql(src="/images/tech/sql.svg", alt="",slider="13")
        img.hvr-float.spark(src="/images/tech/spark.svg", alt="",slider="14")
        img.hvr-float.tableu(src="/images/tech/tableu.svg", alt="",slider="15")
        img.hvr-float.tensor(src="/images/tech/tensor.svg", alt="",slider="16")
        img.hvr-float.the-hive(src="/images/tech/the-hive.svg", alt="",slider="17")
