.jumbotron.techno-index
      .title Tecnologías
      .row.no-mobile
        .col-md-1.text-center.no-mobile.back
          i.fa.fa-chevron-left(aria-hidden='true')
        .col-md-10.flume
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/flume.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.qoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/qoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.jupitor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/jupitor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.oozie
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/oozie.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.couch
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/couch.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.db
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/db.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.hadoop
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/hadoop.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.kafka
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/kafka.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.cassandra
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/cassandra.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.phyton
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/phyton.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.mongo
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/mongo.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.gephi
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/gephi.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.sql
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/sql.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.spark
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/spark.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
        .col-md-10.tableu
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tableu.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.  
        .col-md-10.tensor
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/tensor.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.   
        .col-md-10.the-hive
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/tech/the-hive.svg", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.  
        .col-md-1.text-center.no-mobile.go
          i.fa.fa-chevron-right(aria-hidden='true')
      .d-flex.flex-row.tech-options
        img.hvr-float.flume(src="/images/tech/flume.svg", alt="")
        img.hvr-float.qoop(src="/images/tech/qoop.svg", alt="")
        img.hvr-float.jupitor(src="/images/tech/jupitor.svg", alt="")
        img.hvr-float.oozie(src="/images/tech/oozie.svg", alt="")
        img.hvr-float.couch(src="/images/tech/couch.svg", alt="")
        img.hvr-float.db(src="/images/tech/db.svg", alt="")
        img.hvr-float.hadoop(src="/images/tech/hadoop.svg", alt="")
        img.hvr-float.kafka(src="/images/tech/kafka.svg", alt="")   
        img.hvr-float.cassandra(src="/images/tech/cassandra.svg", alt="")
        img.hvr-float.phyton(src="/images/tech/phyton.svg", alt="")
        img.hvr-float.mongo(src="/images/tech/mongo.svg", alt="")
        img.hvr-float.gephi(src="/images/tech/gephi.svg", alt="")
        img.hvr-float.sql(src="/images/tech/sql.svg", alt="")
        img.hvr-float.spark(src="/images/tech/spark.svg", alt="")
        img.hvr-float.tableu(src="/images/tech/tableu.svg", alt="")
        img.hvr-float.tensor(src="/images/tech/tensor.svg", alt="")
        img.hvr-float.the-hive(src="/images/tech/the-hive.svg", alt="")